## Text Classification on Amazon Shoe reviews Dataset with Word2Vec Word Embeddings in Gensim and training using LSTM In Keras.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### IMPORTING THE MODULES

In [ ]:
# Ignore  the warnings
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

# data visualisation and manipulation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

# sets matplotlib to inline and displays graphs below the corressponding cell.
% matplotlib inline  
style.use('fivethirtyeight')
sns.set(style='whitegrid',color_codes=True)

#nltk
import nltk
!pip install nltk
nltk.download('punkt')
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

#preprocessing
from nltk.corpus import stopwords  #stopwords
from nltk import word_tokenize,sent_tokenize # tokenizing
from nltk.stem import PorterStemmer,LancasterStemmer  # using the Porter Stemmer and Lancaster Stemmer and others
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer  # lammatizer from WordNet
import requests
from bs4 import BeautifulSoup
# for part-of-speech tagging
from nltk import pos_tag

# for named entity recognition (NER)
from nltk import ne_chunk

# vectorizers for creating the document-term-matrix (DTM)
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer


import re # regex

#model_selection
from sklearn.model_selection import train_test_split,cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

#evaluation
from sklearn.metrics import accuracy_score,roc_auc_score 
from sklearn.metrics import classification_report
from mlxtend.plotting import plot_confusion_matrix



 
#keras
import keras
from keras.preprocessing.text import one_hot,Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense , Flatten ,Embedding,Input,LSTM
from keras.models import Model
from keras.preprocessing.text import text_to_word_sequence
from tensorflow.keras import optimizers

from gensim.models import Word2Vec

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

### LOADING THE DATASET

In [ ]:
reviews = pd.read_csv('/content/drive/MyDrive/amazon_reviews_us_Shoes_v1_00.tsv', sep='\t',error_bad_lines=False)

b'Skipping line 54101: expected 15 fields, saw 22\nSkipping line 55857: expected 15 fields, saw 22\nSkipping line 60448: expected 15 fields, saw 22\n'
b'Skipping line 76918: expected 15 fields, saw 22\nSkipping line 87925: expected 15 fields, saw 22\nSkipping line 88500: expected 15 fields, saw 22\nSkipping line 114276: expected 15 fields, saw 22\nSkipping line 128751: expected 15 fields, saw 22\n'
b'Skipping line 136095: expected 15 fields, saw 22\nSkipping line 140007: expected 15 fields, saw 22\nSkipping line 177148: expected 15 fields, saw 22\nSkipping line 180087: expected 15 fields, saw 22\nSkipping line 183010: expected 15 fields, saw 22\nSkipping line 183949: expected 15 fields, saw 22\nSkipping line 192879: expected 15 fields, saw 22\n'
b'Skipping line 223261: expected 15 fields, saw 22\nSkipping line 240588: expected 15 fields, saw 22\nSkipping line 247955: expected 15 fields, saw 22\nSkipping line 249336: expected 15 fields, saw 22\nSkipping line 259363: expected 15 fields, saw 22\n'
b'Skipping line 265664: expected 15 fields, saw 22\nSkipping line 277141: expected 15 fields, saw 22\nSkipping line 297657: expected 15 fields, saw 22\nSkipping line 301661: expected 15 fields, saw 22\nSkipping line 309377: expected 15 fields, saw 22\n'
b'Skipping line 344785: expected 15 fields, saw 22\nSkipping line 373123: expected 15 fields, saw 22\n'
b'Skipping line 437625: expected 15 fields, saw 22\nSkipping line 439026: expected 15 fields, saw 22\nSkipping line 453540: expected 15 fields, saw 22\n'
b'Skipping line 459450: expected 15 fields, saw 22\nSkipping line 468663: expected 15 fields, saw 22\nSkipping line 482395: expected 15 fields, saw 22\n'
b'Skipping line 541205: expected 15 fields, saw 22\nSkipping line 552195: expected 15 fields, saw 22\nSkipping line 556974: expected 15 fields, saw 22\nSkipping line 574056: expected 15 fields, saw 22\nSkipping line 582215: expected 15 fields, saw 22\n'
b'Skipping line 605428: expected 15 fields, saw 22\nSkipping line 607292: expected 15 fields, saw 22\nSkipping line 609689: expected 15 fields, saw 22\nSkipping line 642724: expected 15 fields, saw 22\nSkipping line 643401: expected 15 fields, saw 22\nSkipping line 644251: expected 15 fields, saw 22\n'
b'Skipping line 666488: expected 15 fields, saw 22\nSkipping line 706286: expected 15 fields, saw 22\n'
b'Skipping line 734419: expected 15 fields, saw 22\nSkipping line 735910: expected 15 fields, saw 22\nSkipping line 744996: expected 15 fields, saw 22\nSkipping line 750340: expected 15 fields, saw 22\nSkipping line 768733: expected 15 fields, saw 22\nSkipping line 774206: expected 15 fields, saw 22\n'
b'Skipping line 792985: expected 15 fields, saw 22\nSkipping line 832430: expected 15 fields, saw 22\n'
b'Skipping line 873437: expected 15 fields, saw 22\nSkipping line 881702: expected 15 fields, saw 22\nSkipping line 883194: expected 15 fields, saw 22\nSkipping line 895053: expected 15 fields, saw 22\nSkipping line 917189: expected 15 fields, saw 22\n'
b'Skipping line 920384: expected 15 fields, saw 22\nSkipping line 926024: expected 15 fields, saw 22\nSkipping line 937160: expected 15 fields, saw 22\nSkipping line 949530: expected 15 fields, saw 22\nSkipping line 965534: expected 15 fields, saw 22\n'
b'Skipping line 994267: expected 15 fields, saw 22\nSkipping line 1001768: expected 15 fields, saw 22\n'
b'Skipping line 1060583: expected 15 fields, saw 22\nSkipping line 1076464: expected 15 fields, saw 22\nSkipping line 1090206: expected 15 fields, saw 22\n'
b'Skipping line 1123320: expected 15 fields, saw 22\nSkipping line 1134620: expected 15 fields, saw 22\nSkipping line 1161774: expected 15 fields, saw 22\nSkipping line 1173906: expected 15 fields, saw 22\n'
b'Skipping line 1226184: expected 15 fields, saw 22\nSkipping line 1227345: expected 15 fields, saw 22\n'
b'Skipping line 1299308: expected 15 fields, saw 22\n'
b'Skipping line 1314885: expected 15 fields, saw 22\nSkipping line 1319270: expected 15 fields, saw 22\n'
b'Skipping line 1400785: expected 15 fields, saw 22\n'
b'Skipping line 1452664: expected 15 fields, saw 22\n'
b'Skipping line 1553197: expected 15 fields, saw 22\nSkipping line 1565603: expected 15 fields, saw 22\n'
b'Skipping line 1581194: expected 15 fields, saw 22\nSkipping line 1588532: expected 15 fields, saw 22\nSkipping line 1593760: expected 15 fields, saw 22\n'
b'Skipping line 1638506: expected 15 fields, saw 22\nSkipping line 1684480: expected 15 fields, saw 22\n'
b'Skipping line 1751648: expected 15 fields, saw 22\nSkipping line 1754239: expected 15 fields, saw 22\n'
b'Skipping line 1813371: expected 15 fields, saw 22\nSkipping line 1833867: expected 15 fields, saw 22\n'
b'Skipping line 1843271: expected 15 fields, saw 22\nSkipping line 1878226: expected 15 fields, saw 22\nSkipping line 1878565: expected 15 fields, saw 22\nSkipping line 1879284: expected 15 fields, saw 22\nSkipping line 1879583: expected 15 fields, saw 22\nSkipping line 1879619: expected 15 fields, saw 22\nSkipping line 1880224: expected 15 fields, saw 22\nSkipping line 1881528: expected 15 fields, saw 22\nSkipping line 1883001: expected 15 fields, saw 22\nSkipping line 1897746: expected 15 fields, saw 22\nSkipping line 1900482: expected 15 fields, saw 22\n'
b'Skipping line 1937218: expected 15 fields, saw 22\nSkipping line 1947384: expected 15 fields, saw 22\nSkipping line 1950536: expected 15 fields, saw 22\n'
b'Skipping line 1974526: expected 15 fields, saw 22\nSkipping line 1999157: expected 15 fields, saw 22\n'
b'Skipping line 2049158: expected 15 fields, saw 22\nSkipping line 2059966: expected 15 fields, saw 22\n'
b'Skipping line 2136949: expected 15 fields, saw 22\nSkipping line 2139761: expected 15 fields, saw 22\nSkipping line 2159242: expected 15 fields, saw 22\n'
b'Skipping line 2172137: expected 15 fields, saw 22\nSkipping line 2225127: expected 15 fields, saw 22\n'
b'Skipping line 2242683: expected 15 fields, saw 22\n'
b'Skipping line 2324179: expected 15 fields, saw 22\nSkipping line 2350637: expected 15 fields, saw 22\n'
b'Skipping line 2369709: expected 15 fields, saw 22\nSkipping line 2374408: expected 15 fields, saw 22\n'
b'Skipping line 3001832: expected 15 fields, saw 22\n'
b'Skipping line 3250530: expected 15 fields, saw 22\n'

In [ ]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4358820 entries, 0 to 4358819
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   marketplace        object
 1   customer_id        int64
 2   review_id          object
 3   product_id         object
 4   product_parent     int64
 5   product_title      object
 6   product_category   object
 7   star_rating        int64
 8   helpful_votes      int64
 9   total_votes        int64
 10  vine               object
 11  verified_purchase  object
 12  review_headline    object
 13  review_body        object
 14  review_date        object
dtypes: int64(5), object(10)
memory usage: 498.8+ MB

In [ ]:
reviews.head(5)

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,18069663,R3P2HIOQCIN5ZU,B000XB31C0,265024781,Minnetonka Men's Double Deerskin Softsole Mocc...,Shoes,1,0,0,N,Y,.,Do not buy: really didn't start to wear them u...,2015-08-31
1,US,16251825,R12VVR0WH5Q24V,B00CFYZH5W,259035853,Teva Men's Pajaro Flip-Flop,Shoes,5,0,0,N,Y,super flip flop,provides great cushion as well as archsupport,2015-08-31
2,US,20381037,RNCCKB6TV5EEF,B00S8JNN3Q,666066660,Anne Klein Perfect Pair Wristlet,Shoes,4,0,0,N,Y,Great clutch purse!,It's perfect if you need something small for c...,2015-08-31
3,US,108364,R2NZXYIVCGB13W,B00XFBPOQG,448483263,adidas Men's 10K Lifestyle Runner Sneaker,Shoes,5,0,6,N,Y,Badass,Getting what u see,2015-08-31
4,US,45449350,R2EQ1TG9IT3OEQ,B00SW64Y9W,7853171,OverBling Sneakers for Men Casual Men Shoes Ge...,Shoes,3,0,0,N,Y,Three Stars,small,2015-08-31

#### A brief description of the dataset

Data includes:
- 4358820 reviews

### DATA CLEANING AND PRE-PROCESSING

####  Problem involves sentiment analysis so, separated review_body and ratings as a dataset.

In [ ]:
reviews['review_body']=reviews['review_body'].dropna()

In [ ]:
data=reviews[['review_body','star_rating']]

In [ ]:
data.head()

                                         review_body  star_rating
0  Do not buy: really didn't start to wear them u...            1
1      provides great cushion as well as archsupport            5
2  It's perfect if you need something small for c...            4
3                                 Getting what u see            5
4                                              small            3

In [ ]:
def sentiment(i):
    if i<=2:
        return 0
    else:
        return 1
    
data['sentiment'] = data['star_rating'].apply(sentiment)

In [ ]:
data.head(2)

                                         review_body  star_rating  sentiment
0  Do not buy: really didn't start to wear them u...            1          0
1      provides great cushion as well as archsupport            5          1

In [ ]:
data['sentiment'].value_counts()

1    3884692
0     474128
Name: sentiment, dtype: int64

In [ ]:
data.duplicated().sum()

335789

In [ ]:
# remove duplicates/ for every duplicate we will keep only one row of that type. 
df=data.drop_duplicates(inplace=False)

#### Note that there is no point for keeping rows with different scores or sentiment for same review text, will keep only one instance and drop the rest of the duplicates.

In [ ]:
df['review_body']=df['review_body'].apply(str)

In [ ]:
# now check the shape. note that shape is reduced which shows that we did has duplicate rows.
print(df.shape)
df.head()

(4023031, 3)

                                         review_body  star_rating  sentiment
0  Do not buy: really didn't start to wear them u...            1          0
1      provides great cushion as well as archsupport            5          1
2  It's perfect if you need something small for c...            4          1
3                                 Getting what u see            5          1
4                                              small            3          1

#### Pre-processing steps :

1 ) First **removing punctuation and html tags** if any. note that the html tags may be present.

2) **Tokenize** the reviews into tokens or words .

3) Next **remove the stop words and shorter words** as they cause noise.

4) **Stem or lemmatize** the words depending on what does better. Herer I have yse lemmatizer.

In [ ]:
# function to clean and pre-process the text.
def clean_reviews(review):  
    
    # 1. Removing html tags
    review_text = BeautifulSoup(review,"lxml").get_text()
    
    # 2. Retaining only alphabets.
    review_text = re.sub("[^a-zA-Z]"," ",review_text)
    
    # 3. Converting to lower case and splitting
    word_tokens= review_text.lower().split()
    
    # 4. Remove stopwords
    le=WordNetLemmatizer()
    stop_words= set(stopwords.words("english"))     
    word_tokens= [le.lemmatize(w) for w in word_tokens if not w in stop_words]
    
    cleaned_review=" ".join(word_tokens)
    return cleaned_review

#### Since the data has very large, preprocessing and training the model has been a tedious task, hence to proceed ahead a sample of 50k (in the same proposition of negative and positive in the original data) reviews are considered

In [ ]:
pos_df=df.loc[df.sentiment==1,:][:45000]
neg_df=df.loc[df.sentiment==0,:][:5000]

In [ ]:
pos_df.head()

                                         review_body  star_rating  sentiment
1      provides great cushion as well as archsupport            5          1
2  It's perfect if you need something small for c...            4          1
3                                 Getting what u see            5          1
4                                              small            3          1
5  My 13 year old son loved these shoes excellent...            5          1

In [ ]:
neg_df.head()

                                          review_body  star_rating  sentiment
0   Do not buy: really didn't start to wear them u...            1          0
14                                        It's okay .            2          0
19  Tissue paper is this thicker than this.  It ri...            1          0
30  This pair of Sketchers is now the second pair ...            2          0
33          Not what I expected would not order again            1          0

#### We can now combine reviews of each sentiment and shuffle them so that their order doesn't make any sense.

In [ ]:
#combining
df=pd.concat([pos_df,neg_df],ignore_index=True)

In [ ]:
print(df.shape)
df.head()

(50000, 3)

                                         review_body  star_rating  sentiment
0      provides great cushion as well as archsupport            5          1
1  It's perfect if you need something small for c...            4          1
2                                 Getting what u see            5          1
3                                              small            3          1
4  My 13 year old son loved these shoes excellent...            5          1

In [ ]:
# shuffling rows
df = df.sample(frac=1).reset_index(drop=True)
print(df.shape)  # perfectly fine.
df.head()

(50000, 3)

                                         review_body  star_rating  sentiment
0  I was not able to fit them in my shoes as the ...            1          0
1                                    Comfy and light            5          1
2      Perfect size with phone inside. Very stylish!            4          1
3  Perfect fit and they are comfy enough to wear ...            5          1
4  Very cute and stylish sneakers for a 2 year ol...            4          1

### CREATING GOOGLE WORD2VEC WORD EMBEDDINGS IN GENSIM

Word embeddings of the sample are generated using Gensim.

####  Word2Vec in Gensim. 
This process involves tokenizing the words and then converting each word into a vector as follows.

In [ ]:

#!pip install nltk
#nltk.download('punkt')
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('omw-1.4')


tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')
sentences=[]
sum=0
for review_body in df['review_body']:
  sents=tokenizer.tokenize(review_body.strip())
  sum+=len(sents)
  for sent in sents:
    cleaned_sent= clean_reviews(sent)
    sentences.append(cleaned_sent.split()) # can use word_tokenize also.
print(sum)
print(len(sentences))  # total no of sentences

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

134802
134802

#### Top 5 of the reviews after the tokenization

In [ ]:
# trying to print few sentences
for te in sentences[:5]:
  print(te,"\n")

['able', 'fit', 'shoe', 'heel', 'part', 'wide']

['comfy', 'light']

['perfect', 'size', 'phone', 'inside']

['stylish']

['perfect', 'fit', 'comfy', 'enough', 'wear', 'day']

####Creation of the word 2 vector embeddings.

In [ ]:
import gensim
w2v_model=gensim.models.Word2Vec(sentences=sentences,size=100,window=10,min_count=1)

#### Parameters: -

sentences :  The sentences we have obtained.

size : The dimesnions of the vector used to represent each word.

window : The number f words around any word to see the context.

min_count : The minimum number of times a word should appear for its embedding to be formed or learnt.

In [ ]:
w2v_model.train(sentences,epochs=10,total_examples=len(sentences))

(6102144, 7360400)

In [ ]:
# embedding of a particular word.
w2v_model.wv.get_vector('like')

array([ 0.07367925,  0.7264668 ,  2.5144527 ,  3.411206  , -0.57569915,
       -0.34555066, -0.2521098 ,  0.52374077,  0.68020594, -1.1104329 ,
        0.16678157,  0.1622212 , -0.94836414,  0.26322594, -0.5710929 ,
       -1.1914994 ,  0.6835419 , -0.3816949 , -0.7597397 , -1.4954362 ,
        1.6410891 , -1.9118441 , -0.57412183, -0.32931828, -1.2157779 ,
        0.83956826,  0.53381723,  1.4196945 ,  2.0628216 ,  0.25225857,
       -0.9118603 ,  0.17952287,  0.1686097 ,  1.2065403 , -0.42273128,
        0.90328974, -0.03724175, -0.45577332,  1.1973754 , -0.5416251 ,
        0.60922384,  1.7128277 , -0.9014182 , -0.90069443,  0.13453196,
       -0.40893528, -0.79901254, -0.310973  ,  2.2714424 , -0.8470457 ,
        0.65688616, -0.11749965, -2.1804264 ,  0.15849583,  0.10332197,
       -2.246705  , -1.0243639 ,  1.6441951 ,  0.2823556 , -0.38164017,
       -0.5126825 , -0.2880718 ,  0.65396625,  1.4210078 ,  0.42719245,
        0.12415409, -0.11529443, -1.0243325 , -2.609697  , -0.94849235,
       -0.09209519, -0.544317  ,  0.2809512 , -0.40628862, -0.2124519 ,
       -0.9962219 ,  1.042079  ,  0.02195606,  0.27191758,  1.1521046 ,
        2.0702586 ,  1.1487211 , -0.24125645, -0.2817052 ,  0.05967935,
        0.58263344,  0.603023  ,  0.89386755,  0.5174772 ,  1.5066389 ,
       -0.9075672 , -0.9002992 , -1.6745728 , -1.1212786 , -2.15576   ,
       -0.08255216, -0.03836102, -0.31134218,  1.6629958 ,  0.8347507 ],
      dtype=float32)

In [ ]:
# total numberof extracted words.
vocab=w2v_model.wv.vocab
print("The total number of words are : ",len(vocab))

The total number of words are :  17642

In [ ]:
# words most similar to a given word.
w2v_model.wv.most_similar('great')

[('good', 0.8103077411651611),
 ('fantastic', 0.726043701171875),
 ('amazing', 0.7166142463684082),
 ('excellent', 0.7101442813873291),
 ('awesome', 0.6996778845787048),
 ('nice', 0.6668009757995605),
 ('wonderful', 0.6541703939437866),
 ('perfect', 0.5843102931976318),
 ('decent', 0.5571184158325195),
 ('fabulous', 0.5174053907394409)]

In [ ]:
# similaraity b/w two words
w2v_model.wv.similarity('good','like')

0.4165073

#### Now creating a dictionary with words in vocab and their embeddings. This will be used when we will be creating embedding matrix (for feeding to keras embedding layer).

In [ ]:
print("The no of words :",len(vocab))
# print(vocab)

The no of words : 17642

In [ ]:
# print(vocab)
vocab=list(vocab.keys())

In [ ]:
word_vec_dict={}
for word in vocab:
  word_vec_dict[word]=w2v_model.wv.get_vector(word)
print("The no of key-value pairs : ",len(word_vec_dict)) # should come equal to vocab size

The no of key-value pairs :  17642

In [ ]:
#just check
for word in vocab[:5]:
  print(word_vec_dict[word])

[ 1.8681308  -1.5907913   0.7092128  -2.0597997   0.17542903  2.6452513
 -0.13219646  0.38573468  1.5134158  -0.5503074   0.90431553  1.6712047
 -1.0414796   1.8485112  -0.1069838   0.19475853  0.92763615 -1.7791939
  1.5459243   0.7807732  -1.0991529   0.19378278  1.2601229   0.60766494
  0.9202211   0.87655133  2.020083    0.5514928   0.12454478  1.6737947
  1.3164634  -0.33275178  0.7862966  -0.39058927  0.9576454   0.3757094
 -0.30306423 -2.220082    0.06182353 -0.49734315  0.01309261  1.0931726
 -0.17895778 -1.0237908   1.5208414   1.7499568   0.6011901  -1.3033823
  0.29578832  0.36418635  2.679266   -1.840971    0.86608136 -1.9595351
  0.6005827  -0.9309796  -0.4863807   0.39657393 -0.64415056  0.9428907
 -0.00879765  0.39329818 -1.2173469   0.92669064  0.1219023  -0.55398625
  0.5210502  -1.4682353   0.57874274  1.2332221  -0.7556639  -1.6617166
  0.3195188   0.17394839 -0.53246033  1.7535421  -0.81922716  1.32934
  2.6050766   0.21209076 -0.41728774  1.5244435   1.5414956  -0.00869481
 -0.33909905 -1.589683   -0.79927224 -0.21832992 -0.12184142  0.26677996
 -0.8225951  -1.6783642   1.4039702   1.0689318   0.93111455 -0.6216784
 -0.7894465   0.08446001  0.68003154  1.3393248 ]
[-1.05293235e-02  6.47422016e-01  8.75542402e-01  2.42239162e-01
 -4.71300334e-01  5.45057476e-01  7.95192420e-01 -7.17293203e-01
  2.62473750e+00 -2.03965330e+00  1.52462184e-01  1.95890510e+00
  5.43081105e-01 -1.92987168e+00 -7.76185870e-01  4.30355835e+00
  7.53587663e-01 -1.51088631e+00 -2.90364623e+00 -1.40658450e+00
 -8.75864089e-01 -1.03532410e+00 -6.25513215e-03  1.16874278e+00
  6.69550776e-01  1.60212308e-01  1.40802789e+00 -3.06037903e-01
 -1.08097672e-01 -1.04967701e+00  1.15706098e+00 -1.79823291e+00
 -6.13363147e-01  9.41115711e-03  1.27572984e-01 -3.99948567e-01
 -1.61851913e-01  1.78557506e-03 -1.65781772e+00  1.49605322e+00
  1.32680821e+00  6.36710525e-01  7.35113621e-01 -1.09915160e-01
 -8.94360304e-01  8.86011243e-01 -1.77685690e+00 -1.19888842e+00
  1.52734116e-01 -1.65802259e-02  1.37539005e+00  5.72919905e-01
  1.03483796e+00 -1.38461983e+00 -1.02393901e+00 -7.72000030e-02
 -4.84434515e-01 -7.56144226e-01  1.48892140e+00  7.30333030e-01
 -6.13761723e-01 -1.45984972e+00 -7.38429725e-01  1.71710801e+00
 -5.09865522e-01 -1.06275558e+00 -3.40466738e-01 -6.94296479e-01
 -1.00487196e+00 -7.06345662e-02 -2.02099815e-01  1.21921790e+00
 -4.86463368e-01 -1.12037611e+00 -1.52148485e+00  5.56517243e-01
 -1.46206200e+00 -3.57227802e-01 -9.67335045e-01  4.40932393e-01
  6.60281777e-01 -6.86872005e-01 -1.08707082e+00  6.50625676e-02
 -1.50128484e-01 -1.35031879e+00 -3.80922496e-01  9.38142166e-02
 -3.23878378e-01 -1.36591673e+00  1.32623661e+00 -1.16319907e+00
  7.87825346e-01 -9.32068706e-01 -1.11094999e+00 -6.67723119e-01
 -4.04732913e-01  3.19584280e-01  1.50924134e+00  8.92803490e-01]
[-1.9712914   0.41705582 -0.62221026 -0.31088188 -1.125409    0.38599798
  0.32074568  0.7530946   1.2090452   0.67746043  1.7469165   0.5617097
 -0.6926159   0.22188163  0.51952493  1.187914   -0.31093207  0.0063935
 -1.2766384   0.07089815  0.26253867 -1.29976    -0.7744681   1.1518215
  0.358301    0.57668144 -0.13184832  0.1447966  -1.0431715  -0.50773716
  0.26288888  0.06937131  0.51614773  0.7377256   0.56243616  0.85225666
  0.8741839  -0.21885319 -0.5718725   0.1722172   0.30097833  0.400479
 -0.4228089  -1.2562107  -0.07781687  0.29855743  0.9473431  -0.33618248
  0.5897818  -0.7373238  -0.2564524  -0.4965067   0.5698125  -0.45326355
 -1.505073    0.40544268  1.5534693   0.45010138 -0.9767676   1.2634678
  0.47422963  0.9439967  -1.3042774  -0.2920399   1.3133615   1.3848414
  0.12485817 -0.98274094 -0.51051545  0.70910776  0.06337395  0.1393607
 -1.118253    1.5517802  -0.75262654 -0.9691234   0.09672936  1.0035685
  1.0909119  -0.61951566  0.7583164  -0.06746131 -0.38955972 -0.5269641
  0.44408438 -0.21318573  1.7711285   0.01043062  0.3329854   0.37837613
 -2.9141338  -2.4008322  -0.35741425  1.1183546  -0.228806   -0.04157626
 -0.8136746   0.29673824 -0.23291627  0.10454974]
[-1.662906    1.0570678  -1.6839162  -0.5019423  -2.391919   -0.00670567
  2.004603   -1.114543    2.4365187  -0.38680705  1.738106   -2.5856972
  0.13473088 -0.15190272 -1.0625539   1.8040845  -2.5270634  -0.37132028
  1.648337   -1.0208952   2.4714801  -3.6836116  -1.3694539   0.51141655
 -1.4325039   0.5602358   1.0563834   1.1057807   0.9688903  -0.8549775
  1.2441866   0.42665216 -1.2629062   3.8114815   2.4005413   1.2600213
 -1.8688735  -0.60073197  0.52486724  2.0940459   0.66593236  0.63621765
 -0.5040827  -0.06651305 -3.1423943   0.06083353 -0.08870482  1.4170141
  0.12527137 -0.461363    0.04919485  0.7991654   0.4178501   2.0100434
  0.2348421   0.6883231   1.7696596   2.3442304   0.6706991   1.091676
 -1.849274    1.216558   -3.1163568  -1.1232243  -2.3352773   2.673377
 -0.7537888   1.7797914  -2.0340948  -2.4737568   0.67966294  0.7284009
 -0.7392326   0.15409712 -2.0426333  -0.05489079  0.8379741   0.5531082
  2.1243558  -0.9206816   1.9332142  -2.4095252  -0.17119353 -1.2278807
  0.37171748  1.4704344  -0.48381463 -1.9745525   0.8165666   1.2782371
 -2.5855248  -4.109554    1.7017008   2.5192118   0.5295839  -2.7234564
  0.8070086  -2.639891    0.8402176   1.2436783 ]
[-1.592883   -0.6269493   1.8136451   0.41569236 -1.2184216  -1.5883646
 -0.21798262 -1.6514487  -0.41771093 -1.68581     0.6564791  -2.81413
  0.07229255  2.2627845  -0.39340714 -1.2621633  -0.16680332 -0.21145903
 -0.7834387   0.20627089 -1.2245337  -0.46110046 -1.3156977   1.3634471
  0.14865561  0.5031666   1.3548907   0.13806893 -0.24889949  0.74618626
  1.3192495   0.32601893  0.37672028  1.6387876   0.8246987   1.6259975
  0.43773782  2.3183682   0.7045313  -0.06482173  1.769782    1.4243163
  0.38523796 -0.11337484 -0.0792746   0.18591277 -0.7552393  -0.93982136
  0.50630796  0.7627089   0.36014023  1.3271221   0.7048777  -1.0799681
  0.55556893 -0.72113633  1.2841331   0.80922383  0.61103475  0.3741258
  0.12305963  0.9998104  -0.31966367  2.899538   -1.180131   -1.1337421
 -1.326179    1.3996465  -2.288232   -2.3341193   1.2592809   0.9363738
 -2.45763     1.0199856   0.37107283  0.6642533   1.0900786   1.1049856
  2.4747834   1.1592602  -0.5713285  -1.8138943  -0.4627394  -0.11233232
  1.1497449   0.22399741  0.21895841  0.35538876  0.05075414  2.0728683
 -0.5898907  -0.9294465  -1.5209711   1.0610521  -0.64666176  0.29448372
  1.0101808  -0.12710111 -0.37613845 -0.26033583]

### PREPARING THE DATA FOR KERAS EMBEDDING LAYER.

Now we have obtained the w2v embeddings. But there are a couple of steps required by Keras embedding layer before we can move on.

**Also note that since w2v embeddings have been made now ; we can preprocess our review column by using the function that we saw above.**

In [ ]:
# cleaning reviews.
df['clean_review']=df['review_body'].apply(clean_reviews)

#### We need to find the maximum lenght of any document or review in our case. WE will pad all reviews to have this same length.This will be required by Keras embedding layer. Must check [this](https://www.kaggle.com/rajmehra03/a-detailed-explanation-of-keras-embedding-layer) kernel on Kaggle for a wonderful explanation of keras embedding layer.

In [ ]:
# number of unique words = 17642.

# now since we will have to pad we need to find the maximum lenght of any document.

maxi=-1
for i,rev in enumerate(df['clean_review']):
  tokens=rev.split()
  if(len(tokens)>maxi):
    maxi=len(tokens)
print(maxi)

864

#### Now we integer encode the words in the reviews using Keras tokenizer. 

**Note that there two important variables: which are the vocab_size which is the total no of unique words while the second is max_doc_len which is the length of every document after padding. Both of these are required by the Keras embedding layer.**

In [ ]:
tok = Tokenizer()
tok.fit_on_texts(df['clean_review'])
vocab_size = len(tok.word_index) + 1
encd_rev = tok.texts_to_sequences(df['clean_review'])

In [ ]:
max_rev_len=864  # max lenght of a review
vocab_size = len(tok.word_index) + 1  # total no of words
embed_dim=100 # embedding dimension as choosen in word2vec constructor

In [ ]:
# now padding to have a amximum length of 1565
pad_rev= pad_sequences(encd_rev, maxlen=max_rev_len, padding='post')
pad_rev.shape   # note that we had 100K reviews and we have padded each review to have  a lenght of 1565 words.

(50000, 864)

### CREATING THE EMBEDDING MATRIX

In [ ]:
# now creating the embedding matrix
embed_matrix=np.zeros(shape=(vocab_size,embed_dim))
for word,i in tok.word_index.items():
  embed_vector=word_vec_dict.get(word)
  if embed_vector is not None:  # word is in the vocabulary learned by the w2v model
    embed_matrix[i]=embed_vector
  # if word is not found then embed_vector corressponding to that vector will stay zero.

In [ ]:
# checking.
print(embed_matrix[14])

[-1.02270544  1.68903255  0.96197712  0.22039273  0.54488081 -1.28520119
  0.30548918 -0.18557262  0.59502357  0.52351195  2.59328961  0.72548217
  0.74023163  1.9755162   0.72038507  0.5469622  -0.52381659  2.08125043
  0.49530736  0.00963028  0.16873631  0.21225256 -0.23121022  2.3845005
  0.31284866  0.66081506  2.37831259  0.12089077 -1.02842796 -0.02299441
 -0.19593173 -2.5768683   1.35332429  0.71290058  1.59513903 -1.23864543
 -2.68241358 -2.01168776 -1.33537412  0.18032724  2.70774913  1.0714767
  0.15928094  1.2433852  -2.01404238 -0.31898686  1.84889877  0.62318939
  1.68551302  0.94095796 -1.94330335 -0.25611097 -0.36068547  0.73992944
  0.77674252  1.40886128  0.93105477 -0.06325792  0.98345608  2.25248981
  0.37534621  0.105055    0.14191245  0.12529299  0.16005531  0.46031779
  1.24156034 -1.87979949  2.74796367 -1.27429664  0.11646506  2.5239327
 -1.9948411   1.97571027 -0.59736043 -0.91857111 -0.87826413 -1.06080234
  0.62121588 -1.13254499 -1.61669827  0.14996479  1.09282351  0.71132618
  0.34031096 -0.15813103  1.79983473 -0.33607373 -0.66655326  2.27493191
 -2.52844596 -0.0127778  -2.44911551  1.5281738  -1.36003816 -1.5888679
 -0.34875536 -0.49357826 -1.31711495 -0.40485153]

### PREPARING TRAIN AND VALIDATION SETS.

In [ ]:
# prepare train and val sets first
#Y=keras.utils.to_categorical(df['sentiment'])  # one hot target as required by NN.
x_train,x_test,y_train,y_test=train_test_split(pad_rev,df['sentiment'],test_size=0.10,random_state=42)

### Modelling RNN model

In [ ]:
import tensorflow as tf
from keras.initializers import Constant
from keras.layers import ReLU
from keras.layers import Dropout
from tensorflow.keras import optimizers

layers=64
dropout=0.5

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Embedding(17643, 128, input_length=864))
model.add(tf.keras.layers.LSTM(layers,return_sequences=True))
model.add(tf.keras.layers.Dropout(dropout))
model.add(tf.keras.layers.LSTM(layers))
model.add(tf.keras.layers.Dropout(dropout))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

model.compile('adam', 'binary_crossentropy', metrics=['accuracy'])

model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_5 (Embedding)     (None, 864, 128)          2258304

 lstm_7 (LSTM)               (None, 864, 64)           49408

 dropout_6 (Dropout)         (None, 864, 64)           0

 lstm_8 (LSTM)               (None, 64)                33024

 dropout_7 (Dropout)         (None, 64)                0

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 2,340,801
Trainable params: 2,340,801
Non-trainable params: 0
_________________________________________________________________

#### Let us now print a summary of the model.

In [ ]:
# compile the model
#from keras.optimizers import rmsprop_v2
import tensorflow as tf
model.compile(optimizer=tf.keras.optimizers.Adam(),loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
# specify batch size and epochs for training.
epochs=2
batch_size=32

In [ ]:

# fitting the model.
history=model.fit(x_train,y_train,epochs=epochs,batch_size=batch_size,validation_data=(x_test,y_test))

Epoch 1/2
1407/1407 [==============================] - 1757s 1s/step - loss: 0.3346 - accuracy: 0.8993 - val_loss: 0.3184 - val_accuracy: 0.9032
Epoch 2/2
1407/1407 [==============================] - 1748s 1s/step - loss: 0.3299 - accuracy: 0.8996 - val_loss: 0.3184 - val_accuracy: 0.9032

In [ ]:
y_pred= model.predict(x_test)

In [ ]:
y_pred=np.argmax(y_pred,axis=1)

In [ ]:
import sklearn
sklearn.metrics.accuracy_score(y_pred,y_test)

0.0968

In [ ]:
sklearn.metrics.confusion_matrix(y_pred,y_test)

array([[ 484, 4516],
       [   0,    0]])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.10      1.00      0.18       484
           1       0.00      0.00      0.00      4516

    accuracy                           0.10      5000
   macro avg       0.05      0.50      0.09      5000
weighted avg       0.01      0.10      0.02      5000



The final accuracy after 2 epochs is about 90% which is pretty decent.

### Challenges faced

1) Dataset provided has around 440k rows and 14 columns which took quite a time to perform preprocessing of the data. 

2)After Prepocessing I saw it was a imbalanced Dataset.
 

3) Due to the unavailability of high performing computers, I was able to perform the modelling on relatively smaller data of scale 1 in 10.

4) Due to the time constraint couldn't complete proper hypertuning of the parameters to improve performance of LSTM model developed. 

5) Although the validation accuracy of the model developed is on higher side, still quite a good amount of underlying study of models can be done to build an ideal model.